// Conexão com Frontend
FRONTEND_URL=
SESSION_SECRET=

// Conexão Banco de dados //
DB_HOST=
DB_PORT=
DB_NAME=
DB_USER=
DB_PASSWORD=

// Conexão Supabase //
SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=

// Conexão Google //
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=
GOOGLE_REFRESH_TOKEN=