.sidebar {
    width: 230px;
    height: 100dvh;
    background-color: rgb(24, 23, 23);
    transition: width .3s ease;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
}


/* SIDEBAR COMPACTA */

.sidebar.collapsed {
    width: 80px;
    background-color: black;
}


/* LOGO E MENU */

.logo-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    padding: 15px;
    overflow: hidden;
}


.sidebar.collapsed .logo-menu {
    justify-content: center;
}


.logo {
    width: 160px;
}


.menu-icon,
.menu-icon-2 {
    color: white;
    cursor: pointer;
}


.menu-icon {
    font-size: 36px;
}


.menu-icon-2 {
    font-size: 22px;
}


/* LINKS */

nav {
    flex: 1;
}


.sidebar a {

    display: flex;
    align-items: center;

    gap: 15px;

    padding: 25px 12px;

    color: white;
    text-decoration: none;

    border-radius: 8px;

    transition: .3s;

}


.sidebar a:hover {
    background-color: #7e0b0b;
}


.sidebar a.active {

    background: linear-gradient(90deg, #8f0000, #c20d0d);

    font-weight: bold;

}


/* ÍCONES CENTRALIZADOS QUANDO FECHADO */

.sidebar.collapsed a {

    justify-content: center;
    gap: 0;
}


.sidebar.collapsed span {

    display: none;

}


/* PERFIL */

.profile {

    display: flex;

    align-items: center;

    gap: 12px;

    padding: 15px;

    margin-top: auto;

    border-top: 1px solid #333;

}


.profile-image {
  width: 42px;
  height: 42px;
  min-width: 42px;
  border-radius: 50%;
  overflow: hidden;

  display: flex;
  align-items: center;
  justify-content: center;

  background: #d40808;
  color: #fff;

  font-size: 18px;
  font-weight: 600;
}

.profile-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profile-image span {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;
}


.profile-info h4 {

    color: white;

    font-size: 15px;

    margin: 0;

}


.profile-info p {

    color: #bdbdbd;

    font-size: 12px;

    margin: 2px 0 0;

}


.sidebar.collapsed .profile {

    justify-content: center;

    padding: 20px 0;

}


.sidebar.collapsed .profile-info {

    display: none;

}



/* RESPONSIVIDADE */

@media (max-width: 768px) {


    .sidebar {

        width: 80px;

        height: 100dvh;

    }


    .sidebar .logo {

        display: none;

    }


    .sidebar span {

        display: none;

    }


    .sidebar a {

        justify-content: center;

        gap: 0;

        padding: 25px 0;

    }


    .sidebar .profile-info {

        display: none;

    }


    .sidebar .profile {

        justify-content: center;

        padding: 20px 0;

    }


}